<li class="list-group-item">
    <form
        {% if todo_id %}
        hx-post="{% url 'htmx-todo-card-form' todo_id=todo_id %}"
        {% else %}
        hx-post="{% url 'htmx-todo-card-form' %}"
        {% endif %}
        hx-trigger="submit"
        hx-swap="outerHTML"
        hx-target="closest li" >
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="+">
    <a hx-get="{% url 'htmx-todo' todo_id=todo_id %}"
       hx-trigger="click consume"
       hx-swap="outerHTML"
       hx-target="closest li"
    >Back</a>
    </form>
</li>
