version: '3.7'

volumes:
  sqlite_data:

services:

  api:
    build:
      context: ./api
      target: development
    ports:
      - "9876:8000"
    volumes:
      - ./sqlite_data:/app/data
    environment:
      - SECRET_KEY=foo
      - SQL_DATABASE=sqlite:////app/data/diary.db
