version: '3.7'

volumes:
  sqlite_data:

services:

  api:
    build:
      context: ./api
      target: development
    ports:
      - "9876:8000"
    volumes:
      - sqlite_data:/app/data
    environment:
      - SQL_DATABASE=${API_SQL_DATABASE}
      - CORS_ALLOWED_ORIGINS=["http://localhost:${FRONT_END_PORT}"]

  front-end:
    build:
      context: ./front-end
    ports:
      - ${FRONT_END_PORT}:5173
    environment:
      VITE_API_HOSTNAME: "localhost"
      VITE_API_PORT: ${API_PORT}
