@font-face {
    font-family: 'Anton';
    src: url('fonts/Anton-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton';
}

.content {
    margin: 25px;
}
