{% load static %}

<li class="list-group-item">
    <form
        {% if todo_id %}
        hx-post="{% url 'htmx-todo-card-form' todo_id=todo_id %}"
        {% else %}
        hx-post="{% url 'htmx-todo-card-form' %}"
        {% endif %}
        hx-trigger="submit"
        hx-swap="outerHTML"
        hx-target="closest li">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-success btn-sm" type="submit" style="width:24px,height:24px" value="Submit">
    {% if todo_id %}
        <a class="btn btn-danger btn-sm"
        hx-get="{% url 'htmx-todo' todo_id=todo_id %}?component=todos/card_todo"
        hx-trigger="click consume"
        hx-swap="outerHTML"
        hx-target="closest li"
        >Back</a>
    {% else %}
        <a class="btn btn-danger btn-sm"
            hx-get="{% url 'htmx-delete-element' %}"
            hx-trigger="click consume"
            hx-swap="delete"
            hx-target="closest li"
        >Back</a>
    {% endif %}
    </form>
</li>
