{% extends "html_outline.html" %}
{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block page %}
<script src="{% static 'js/htmx.min.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% block navbar %}
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-pink">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><h1>JR </h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'diary-create-update' %}"><h3>Diary</h3></a>
                <a class="nav-link" href="{% url 'home' %}"><h3>Todo</h3></a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'log-out' %}"><h3>Log Out</h3></a>
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}

<div class="content">
    <div class="container-fluid">

    {% block content %}
    {% endblock content %}
    </div>
</div>
{% endblock page %}